$white: #fff;
$black: #000;

$grey: #eee;
$dark-grey: #2D2D2A;
$light-grey: #58585B;
$blue: #2075F0;
$dark-blue: #4762A3;
$main-bg: #FFFDE9;
$link-bg: #d1e8d5;
$light-red: #C8555D;
$light_grey: #7E868E;
$grey-border: rgba(256, 16, 23, 0.3);

$green: #448F84;
$dark-green: #30776D;
$red: #C13A49;
$dark_red: #9E2330;
$purple: #A35EA1;
$dark_purple: #873E84;

$transparent: transparent;
$bg_green: rgba(78,212,193,0.2);
$bg_red: rgba(193,58,73,0.2);
$bg_black: rgba(0,0,0,0.2);
$bg_black_dark: rgba(0,0,0,0.4);
$shadow_green: rgba(87,162,152,0.54);
$shadow_light_green: rgba(87,162,152,0.3);
$linear-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

$twitter: #1DA1F2;
$facebook: #4267B2;
$instagram: #F56040;

// Color classes
$primary-color: $grey;
$body-text: $dark-grey;
